h2{
    font-size:120%;
}

p{
font-size:120%;
}
font-size:22px;
A {
    color: #0000FF;
    }
   A:visited {
    color: #0000FF;
    }
   A:hover {
    color: #FF00FF;
    }
   A:active {
    color: #ffff00;
    }